In [ ]:
import pandas as pd
df = pd.read_csv('/Users/rezigibtissam/Desktop/simplified.csv')
df.columns = ['CLI_ID','LIBELLE']

In [ ]:
df

In [101]:
df[('CLI_ID')].unique()

array([2, 3, 1])

In [103]:
df.pivot(index='CLI_ID', columns='LIBELLE', values='LIBELLE')

LIBELLE  Bim  Bimou  Gateau   La  Lait
CLI_ID
1        NaN    NaN     NaN  NaN  Lait
2        Bim  Bimou     NaN  NaN  Lait
3        NaN    NaN  Gateau   La   NaN