In [129]:
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix

In [153]:
#Load dataset
df = pd.read_csv('/Users/rezigibtissam/Desktop/KaDomin.csv')
df

,TICKET_ID,MOIS_VENTE,PRIX_NET,FAMILLE,UNIVERS,MAILLE,LIBELLE,CLI_ID
0,59,10,1.67,Makla,HYG_DOUCHE JARDINMONDE,HYG_JDM,Bimou,2
1,59,10,1.00,Makla,HYG_DOUCHE JARDINMONDE,HYG JDM,Lait,2
2,59,10,1.67,Makla,HYG_DOUCHE JARDINMONDE,HYG JDM,Bimou,2
3,34,10,3.00,Makla,HYG_DOUCHE JARDINMONDE,HYG JDM,Gateau,3
4,34,10,2.00,Makla,HYG_DOUCHE JARDINMONDE,HYG JDM,Lait,3
5,22,10,2.00,Makla,HYG_DOUCHE JARDINMONDE,HYG JDM,Lait,1

In [154]:
# Group interactions
users_items = df.groupby(by=['CLI_ID','LIBELLE']).apply(lambda x: 1).to_dict() 
users_items

{(1, 'Lait'): 1,
 (2, 'Bimou'): 1,
 (2, 'Lait'): 1,
 (3, 'Gateau'): 1,
 (3, 'Lait'): 1}

In [141]:
# Number of different Users / Locations
nu = len(df['CLI_ID'].unique())
nl = len(df['LIBELLE'].unique())

In [161]:
# Build Rating matrix
row, col = zip(*(users_items.keys())) #row-> users,  col-> locations
map_u = dict(zip(df['CLI_ID'].unique(),range(nu)))
map_l = dict(zip(df['LIBELLE'].unique(),range(nl)))
row_idx = [map_u[u] for u in row]
col_idx = [map_l[l] for l in col]
data = np.array(users_items.values(), dtype=np.float32)
rating_matrix = csr_matrix((data, (row_idx, col_idx)), shape=(nu,nl))

TypeError: float() argument must be a string or a number, not 'dict_values'