In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
# read the datebase
data = pd.read_csv('/Users/rezigibtissam/Downloads/KaDo.csv')

In [3]:
# Objectif:
# understanding Data, add a descriptive part to the dataset

In [4]:
# the Header of my dataset
data.head()

,TICKET_ID,MOIS_VENTE,PRIX_NET,FAMILLE,UNIVERS,MAILLE,LIBELLE,CLI_ID
0,35592159,10,1.67,HYGIENE,HYG_DOUCHE JARDINMONDE,HYG_JDM,GD JDM4 PAMPLEMOUSSE FL 200ML,1490281
1,35592159,10,1.66,HYGIENE,HYG_DOUCHE JARDINMONDE,HYG_JDM,GD JDM4 PAMPLEMOUSSE FL 200ML,1490281
2,35592159,10,7.45,SOINS DU VISAGE,VIS_CJOUR Jeunes Specifique,VIS_JEUNE_ET_LEVRE,CR JR PARF BIO.SPE AC.SENT.50ML,1490281
3,35592159,10,5.95,SOINS DU VISAGE,VIS_DEMAQ AAAR,VIS_AAAR_DEMAQLOTION,EAU MICELLAIRE 3 THES FL200ML,1490281
4,35592159,10,1.67,HYGIENE,HYG_DOUCHE JARDINMONDE,HYG_JDM,GD JDM4 TIARE FL 200ML,1490281

In [5]:
# the Tail Of The dataset
data.tail()

,TICKET_ID,MOIS_VENTE,PRIX_NET,FAMILLE,UNIVERS,MAILLE,LIBELLE,CLI_ID
7245517,35448190,9,2.50,SOINS DU CORPS,CORPS_SOIN DES MAINS,CORPS_HYDRA_NOURRI_ET_SOINS,SVC CR MAINS ET ONGLES T75ml,997385337
7245518,35448190,9,3.00,HYGIENE,HYG_DOUCHE JARDINMONDE,HYG_JDM,GD JDM4 LAVANDIN DE PROVENCE 200ML,997385337
7245519,36105678,12,7.90,MAQUILLAGE,MAQ_YEUX Crayons,MAQ_YEUX_CLASSIQUE,CRAYON REGARD PRUNE CN3 1.3G,997385337
7245520,36105678,12,11.45,MAQUILLAGE,MAQ_YEUX Mascara Elixir,MAQ_YEUX_MASCA_HG,MASCARA SOIN NOIR01 2014 CN3 9ML,997385337
7245521,36105678,12,4.45,MAQUILLAGE,MAQ_ONG Vernis CN,MAQ_ONGLES,"VAO BRIL CERISE NOIRE113 ETE14 CN3 5,5ML",997385337

In [6]:
# the Shape Of The dataset
data.shape

(7245522, 8)

In [7]:
# A Description of the dataset
data.describe()

          TICKET_ID    MOIS_VENTE      PRIX_NET        CLI_ID
count  7.245522e+06  7.245522e+06  7.245522e+06  7.245522e+06
mean   3.475690e+07  6.840279e+00  5.970084e+00  9.790625e+08
std    1.055553e+06  3.573327e+00  5.885542e+00  1.775563e+07
min    3.293145e+07  1.000000e+00  1.000000e-02  1.490281e+06
25%    3.384854e+07  4.000000e+00  1.950000e+00  9.719890e+08
50%    3.474804e+07  7.000000e+00  4.250000e+00  9.848729e+08
75%    3.570151e+07  1.000000e+01  7.450000e+00  9.911363e+08
max    3.652986e+07  1.200000e+01  1.575000e+03  9.973853e+08

In [8]:
# GET The Columns
data.columns

Index(['TICKET_ID', 'MOIS_VENTE', 'PRIX_NET', 'FAMILLE', 'UNIVERS', 'MAILLE',
       'LIBELLE', 'CLI_ID'],
      dtype='object')

In [5]:
# how many values exist in every column 
data.nunique()

TICKET_ID     2734841
MOIS_VENTE         12
PRIX_NET         3052
FAMILLE             9
UNIVERS           105
MAILLE             34
LIBELLE          1484
CLI_ID         853514
dtype: int64

In [7]:
#the items solde 2734841
data['TICKET_ID'].nunique()

2734841

In [ ]:
# Number of clients 85000
data['CLI_ID'].nunique()

In [ ]:
# Number of items 1484
data['LIBELLE'].nunique()

In [ ]:
# Number of FAMILLE 9
data['FAMILLE'].nunique()

In [7]:
#Most POPULAR ITtem UNIVERS: HYG_DOUCHE JARDINMONDE
data['UNIVERS'].describe()

count                    7245522
unique                       105
top       HYG_DOUCHE JARDINMONDE
freq                      762858
Name: UNIVERS, dtype: object

In [ ]:
#Most POPULAR ITtem UNIVERS: HYG_DOUCHE JARDINMONDE
data['UNIVERS'].describe()

In [ ]:
#Most POPULAR Item FAMILLE: HYGIENE
data['FAMILLE'].describe()

In [8]:
#Most POPULAR Item LIBELLE: DEMAQ EXPRESS PUR BLEUET FL125ML
data.groupby('UNIVERS').max()

,TICKET_ID,MOIS_VENTE,PRIX_NET,FAMILLE,MAILLE,LIBELLE,CLI_ID
UNIVERS,,,,,,,
CAP_AP SHAMP,36529750,12,29.50,CAPILLAIRES,CAPILLAIRE_AUTRE,SVC REPARATION AP SH 150 ML,997048737
CAP_SHAMP SPECIFIQUE,36529862,12,64.90,CAPILLAIRES,CAPILLAIRE_SHAMPOING,SVC REFLETS SH REF DOR FL200ML,997048290
CAP_SHAMP TRAITANT,36529821,12,49.50,CAPILLAIRES,CAPILLAIRE_SHAMPOING,SVC REPARATION SH 300ML,997048498
CAP_SHAMP TSCHEVEUX,36529778,12,203.35,CAPILLAIRES,CAPILLAIRE_SHAMPOING,SVC VOLUME SH 300ML,997048737
CAP_TENUE DE LA COIFFURE,36529742,12,40.05,CAPILLAIRES,CAPILLAIRE_AUTRE,SVC VOLUME SPR VOL FL200ML,997048464
...,...,...,...,...,...,...,...
VIS_SOIN HOMMES,36529774,12,348.25,SOINS DU VISAGE,VIS_HOMMES,TENSEUR Y ENERGIE T 15ML,997040718
VIS_SOIN LEVRES,36529850,12,526.50,SOINS DU VISAGE,VIS_JEUNE_ET_LEVRE,BIO BAUME LEVRES REPARATEUR 10ML,997048777
VIS_TRAIT AAAR,36529812,12,103.60,SOINS DU VISAGE,VIS_AAAR_HORS_DEMAQLOTION,Soin Rehausseur Regard 14ml OL,997040774
VIS_TRAIT BIO,36322651,12,37.00,SOINS DU VISAGE,VIS_BIO,BIO SERUM ENERGIE STG 30ML,996600356
VIS_TRAIT Jeunes Specifique,36529813,12,180.00,SOINS DU VISAGE,VIS_JEUNE_ET_LEVRE,STOP CORRECTEUR MALIN 1.4G SEBO,997040213

In [16]:
#Number of items in per Univers
data.groupby('UNIVERS')['LIBELLE'].nunique()

UNIVERS
CAP_AP SHAMP                    6
CAP_SHAMP SPECIFIQUE           10
CAP_SHAMP TRAITANT              4
CAP_SHAMP TSCHEVEUX            15
CAP_TENUE DE LA COIFFURE        6
                               ..
VIS_SOIN HOMMES                11
VIS_SOIN LEVRES                30
VIS_TRAIT AAAR                 19
VIS_TRAIT BIO                   3
VIS_TRAIT Jeunes Specifique    10
Name: LIBELLE, Length: 105, dtype: int64

In [17]:
#Number of items in per Libelle
data.groupby('MAILLE')['LIBELLE'].nunique()

MAILLE
CAPILLAIRE_AUTRE                24
CAPILLAIRE_SHAMPOING            29
CORPS_HYDRA_NOURRI_ET_SOINS     49
CORPS_HYDR_LAIT_HUILE           64
CORPS_MONOI                      6
CORPS_SPA_ET_MINCEUR            24
DIETETIQUE                       1
HYG_AUTRES                      18
HYG_CULTUREBIO                   6
HYG_HOMME                       22
HYG_JDM                         41
HYG_MONOI_ET_EDIT_SPEC          21
HYG_PARFUMEE                    32
HYG_PLAISIRNAT_BAIN_SAVON       89
MAQ_AUTRE                       12
MAQ_LEV_BASPRIX                 58
MAQ_LEV_RAL_HMG                106
MAQ_ONGLES                     119
MAQ_TEINT                      138
MAQ_YEUX_CLASSIQUE              72
MAQ_YEUX_MASCA_EYEL_FARD       181
MAQ_YEUX_MASCA_HG                6
MULTIFAMILLES                    1
PARF_EDT                        35
PARF_HOMME                      10
PARF_PARFUM                     76
SOLAIRE                         28
VIS_AAAR_DEMAQLOTION             9
VIS_AAAR_HORS_DEMAQLOTION       63
VIS_AUTRES                       8
VIS_BIO                         11
VIS_HOMMES                      11
VIS_JEUNE_ET_LEVRE             100
VIS_PUR                         14
Name: LIBELLE, dtype: int64

In [21]:
#Number of items in per Famille
data.groupby('UNIVERS')['FAMILLE'].nunique()

UNIVERS
CAP_AP SHAMP                   1
CAP_SHAMP SPECIFIQUE           1
CAP_SHAMP TRAITANT             1
CAP_SHAMP TSCHEVEUX            1
CAP_TENUE DE LA COIFFURE       1
                              ..
VIS_SOIN HOMMES                1
VIS_SOIN LEVRES                1
VIS_TRAIT AAAR                 1
VIS_TRAIT BIO                  1
VIS_TRAIT Jeunes Specifique    1
Name: FAMILLE, Length: 105, dtype: int64

In [ ]:
#Most Popular MAILLE
data.groupby(["MAILLE"]).max()

In [ ]:
# number of items solde
data['LIBELLE'].sum()

In [ ]:
# GET Null values 0
data.isnull().sum()

In [6]:
# The Means Price Spend
data['PRIX_NET'].mean()

5.97008361580822

In [30]:
# Mean price spend by user
data.groupby('CLI_ID')['PRIX_NET'].mean()

CLI_ID
1490281      3.680000
13290776     6.166667
20163348     7.450000
20200041     3.350000
20561854     2.350000
               ...
997048745    4.950000
997048751    5.760000
997048769    7.265000
997048777    3.878947
997385337    5.193478
Name: PRIX_NET, Length: 853514, dtype: float64

In [5]:
#Mean price for items in the categories
dt_mean_cat = data.groupby('UNIVERS')['PRIX_NET'].mean()
dt_mean_cat.head()

UNIVERS
CAP_AP SHAMP                3.317250
CAP_SHAMP SPECIFIQUE        3.683006
CAP_SHAMP TRAITANT          3.873442
CAP_SHAMP TSCHEVEUX         3.554275
CAP_TENUE DE LA COIFFURE    6.038025
Name: PRIX_NET, dtype: float64

In [8]:
# Sum of prices
data['PRIX_NET'].sum()

43256372.18000003

In [9]:
data['PRIX_NET'].std()

5.885541901578067

In [34]:
#Mean price spend by ticket
data.groupby('TICKET_ID')['PRIX_NET'].mean()

TICKET_ID
32931447    2.383333
32931448    9.833333
32931451    7.500000
32931452    3.800000
32931453    5.770000
              ...
36529861    4.275000
36529862    2.950000
36529863    8.600000
36529864    4.500000
36529865    1.725000
Name: PRIX_NET, Length: 2734841, dtype: float64

In [ ]:
# The std of the clients écart type 
data.groupby(['CLI_ID']).std()

In [10]:
# Get the number of TICKET / sails in each month
data.groupby('MOIS_VENTE')['TICKET_ID'].count()

MOIS_VENTE
1      708973
2      415295
3      499932
4      490481
5      531449
6      709842
7      738972
8      549155
9      541426
10     483343
11     548343
12    1028311
Name: TICKET_ID, dtype: int64

In [39]:
data.groupby('CLI_ID', as_index=False).agg({"LIBELLE": "sum"})

           CLI_ID                                            LIBELLE
0         1490281  GD JDM4 PAMPLEMOUSSE FL 200MLGD JDM4 PAMPLEMOU...
1        13290776  EDT  UN MATIN AU JARDIN  100ML  MUGUETLAIT VEL...
2        20163348                     RAL BRILLANC GEL/PRALIN CN3 2G
3        20200041  CR JOUR PX/MIX HYDRA/VEG P50MLCREME MAINS CACA...
4        20561854  GD AGRUMES FP FL 200 MLLISSAGE AP SHAMPOING LI...
...           ...                                                ...
853509  997048745  VAO PASTEL PARME 03 MANUC CN3 5.5MLVAO BLANC F...
853510  997048751  BD COCO PN2 FL400MLCUBE DE BAIN COCO PN2 20GLA...
853511  997048769  BAUME LEVR SENT FRAMBOISE 4GPORTE MINE NOIR 01...
853512  997048777  SVC PIEDS SOS P ECHAUF T50MLDEO JDM4 COTON  FL...
853513  997385337  LAIT 3EN1 PROTECTYL AP SOL FL150LAIT 3EN1 PROT...

[853514 rows x 2 columns]